<button (click)="toggleTheme()" class="px-4 py-2 bg-green-500 text-white rounded">
  Toggle Theme
</button>
  <div class="h-full col-span-12 p-4 text-base text-center bg-white dark:bg-dark-500 lg:col-span-3 rounded-2xl shadow-custom-light dark:shadow-custom-dark">
    <app-sidebar></app-sidebar>
  </div>
  <div class="flex flex-col col-span-12 overflow-hidden bg-white shadow-custom-light dark:shadow-custom-dark lg:col-span-9 rounded-2xl dark:bg-dark-500">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
  div class="space-y-4">
  <div class="w-96 bg-white shadow rounded">
      w-96
  </div>
  <div class="w-80 bg-white shadow rounded">
      w-80
  </div>
  <div class="w-72 bg-white shadow rounded">
      w-72
  </div>
  <div class="w-64 bg-white shadow rounded">
      w-64
  </div>
  <div class="w-60 bg-white shadow rounded">
      w-60
  </div>
  <div class="w-56 bg-white shadow rounded">
      w-56
  </div>
  <div class="w-52 bg-white shadow rounded">
      w-52
  </div>
  <div class="w-48 bg-white shadow rounded">
      w-48
  </div>


