/* Styles existants */
.icon-wrapper {
  display: inline-block;
  position: relative;
  border: 2.5px dotted #000;
  padding: 15px;
  border-radius: 40px;
  margin-bottom: 10px;
  /* ... autres styles ... */
}

/* ... Autres styles existants ... */

/* Styles pour les téléphones */
@media screen and (max-width: 600px) {
  .grid {
      grid-template-columns: repeat(3, 2fr); /* Moins de colonnes pour les petits écrans */
  }

  .icon-wrapper {
      padding: 10px;
      border-radius: 20px;
  }

  .icon-wrapper .tooltip {
      /* Ajustements pour le tooltip si nécessaire */
  }

  .category-wrapper {
      padding: 10px;
      border-radius: 5px;
  }

  .arrows button {
      font-size: 18px; /* Taille plus petite pour les boutons */
  }

  /* Réduire la taille de la police pour les titres si nécessaire */
  h4 {
      font-size: 16px;
  }
}
